include includes/mixins

doctype html
html(lang="en")
	+head('Sponge')
	body(data-content-area="1400px")
		+elips
		+siteHeader
		+dotterBackground
		+mobileMenu
		.pre-loader.active
			.loader-box
				.loader
				.entry
					p helicopter view.
		.site-content
			.head-section
				.site-title
					span service
					span.green .
				.site-sub-title
					p We identify compelling investment opportunities, opening doors that might otherwise appear closed. We facilitate all aspects of deal execution.

			.advantages-section
				.container
					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-48.svg)")

						.text
							strong Development
							p of the acquisition or
							p sales strategy
					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-50.svg)")

						.text
							strong Company analysis,
							p preparation of the investment
							p memorandum

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-49.svg)")

						.text
							| Undertaking comprehensive
							strong industry and market
							strong researches

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-51.svg)")

						.text
							strong Identifying transaction
							strong opportunities
							p based on a client’s objectives
							p and strategy

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-52.svg)")

						.text
							p Determining an
							strong appropriate valuation
							p for the businesses, facilities
							p and other assets

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-53.svg)")

						.text
							p Serving as a intermediary in
							strong negotiations
							p with any level of complexity to get
							p the best possible price and terms

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-65.svg)")

						.text
							strong Providing counsel
							p to the clients in helping secure
							p acquisitions, leading the due
							p diligence process

					.advantage-card
						.avatar(style="background-image: url(../img/icons/shape-56.svg)")

						.text
							p Negotiating the
							strong relevant legal documents,
							p drafting contracts
							p and legal documentation

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-55.svg)")

						.text
							strong Managing PR
							strong and reputation
							p around the transaction

					.advantage-card
						.avatar(style="background-image: url(../img/icons/Shape-58copy.svg)")

						.text
							p Continuing advice
							p and support during the
							strong post-acquisition period

			.offers-section
				.section-title
					| our offer
					strong .

				.container
					.row
						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-59.svg)")
								.offer-content
									.title 100% Clear-Cut Hit
									p We only identify companies that precisely match your brief, because we underttake comprehensive market research, wte take every detail of your strategy into account and provide sustainable and efficient deal execution

						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-60.svg)")
								.offer-content
									.title Active searching
									p We can approach shareholders directly so as to acquire “not for sale” or to sell for “not acquiring” targets
						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-61.svg)")
								.offer-content
									.title Professionalism
									p For each project we establish a team of the best qualified professionals and experts with relevant expertise and knowledge.
						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-62.svg)")
								.offer-content
									.title Negotiation
									p We can help to get the best possible price and terms by ensuring responsive communication, high quality preparation, applying all our experience and skills.
						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-63.svg)")
								.offer-content
									.title Confidentiality
									p Maintaining confidentiality is our specialty and that’s why your information would not be shared with any third party without your written permission.
						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-64.svg)")
								.offer-content
									.title Guarantee
									p If we don't achieve the desired results, you pay nothing. There are few, if any advisers offering the same no risk offer.
						.col-md-6
							.offer-item
								.avatar(style="background-image: url(../img/icons/Shape-65.svg)")
								.offer-content
									.title Free support
									p We offer three months post-acquisition support at no extra cost.

		+siteFooter
